<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descarga Nuestra App</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mi_app/styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">

</head>
<body>
    <div class="card-container">
        <header>
            <div class="logo-container">
                <img src="{% static 'mi_app/img/logo.png' %}" alt="Logo de la App" class="app-logo">
            </div>
            <h1>¡Bienvenido a Nuestra App!</h1>
        </header>

        <main>
            <!-- Descripción de la app -->
            <div class="description">
                <p>
                    OverlordChronicles da a los jugadores una forma de poder comunicarce entre ellos, compartiendo informacion sobre el videojuego tanto como guias, fanart y mucho mas!!!
                </p>
            </div>

            <!-- Sección de capturas -->
            <div class="cards-section">
                <div class="card">
                    <img src="{% static 'mi_app/img/inicio.jpg' %}" alt="Captura 1">
                    <div class="card-content">
                        <h3>Pantalla de inicio</h3>
                        <p>Aca puedes registrarte o iniciar sesion.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'mi_app/img/login.jpg' %}" alt="Captura 2">
                    <div class="card-content">
                        <h3>Login</h3>
                        <p>Puedes ingresar mediante tu correo electronico y contraseña.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'mi_app/img/pantalla_principal.jpg' %}" alt="Captura 2">
                    <div class="card-content">
                        <h3>Pantalla principal</h3>
                        <p>Aca podras tener un vistazo a las nuevas publicaciones.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'mi_app/img/perfil.jpg' %}" alt="Captura 2">
                    <div class="card-content">
                        <h3>Perfil</h3>
                        <p>Tendras un perfil que podras personalizar a tu gusto.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'mi_app/img/menu.jpg' %}" alt="Captura 2">
                    <div class="card-content">
                        <h3>Menu principal</h3>
                        <p>Gracias al menu podras acceder a todo el contenido que ofrece la app.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'mi_app/img/crear-post.jpg' %}" alt="Captura 2">
                    <div class="card-content">
                        <h3>Crea tu post propio</h3>
                        <p>Podras crear tu propio contenido que muchas personas podran ver.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'mi_app/img/comentario.jpg' %}" alt="Captura 2">
                    <div class="card-content">
                        <h3>Escribe tu opinion</h3>
                        <p>Ademas podras compartir lo que piensas respecto a los post o guias subidas por la comunidad.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'mi_app/img/personajes.jpg' %}" alt="Captura 2">
                    <div class="card-content">
                        <h3>Ten acceso al listado de personajes</h3>
                        <p>Tendras acceso a un listado actualizado de los personajes del videojuego.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'mi_app/img/detalle.jpg' %}" alt="Captura 2">
                    <div class="card-content">
                        <h3>Informacion de cacda personaje</h3>
                        <p>Ademas podras obtener informacion de cada personaje.</p>
                    </div>
                </div>
            </div>

            {% if is_pc %}
                <div class="qr-section">
                    <p>Escanea este código QR para descargar la app:</p>
                    <img src="{% url 'qr_code' %}" alt="Código QR" class="qr-image">
                </div>
            {% else %}
                <div class="download-section">
                    <p>Descarga la app aquí:</p>
                    <a href="https://github.com/AutumnZbx/OverlordChroniclesApk/raw/refs/heads/main/OverlordChronicles.apk" download class="download-button">
                        Descargar App
                    </a>
                </div>
            {% endif %}
        </main>

        <footer>
            <p>© 2024 OverlordChronicles. Todos los derechos reservados.</p>
        </footer>
    </div>
</body>
</html>
